@model UserUploadContactsAndMessage.Models.UserDetail

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SendDateTime)
        </th>
        <th></th>
    </tr>
    

    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.SendDateTime)
        </td>
    </tr>


</table>
