@model UserUploadContactsAndMessage.Models.UserDetail

@{
    ViewBag.Title = "Details";
}

<h2>User Confirmation</h2>

<div>
    <h4>Please confirm your details, if you are satisfied click confim and save.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SendDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SendDateTime)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Cancel", "Create") |
    @Html.ActionLink("Confirm and Save", "Upload", Model)
</p>
    @*<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Cancel" class="btn btn-default" />
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>*@

